/* ════════════════════════════════════════════
   ADAQUIZ — style.css
════════════════════════════════════════════ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* La classe .cache masque un écran */
.cache {
  display: none;
}
