* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #621ab8;
  padding: 1rem 2rem;
}
#titre-page {
  display: inline-block;
  color: #621a77;
  background-color: #dfdfdf;
  font-size: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px #0004;
}
main {
  flex: 1;
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
  max-width: 800px;
}
.ecran {
  background-color: #efefef;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px #0002;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subtitre {
  display: inline-block;
  color: #4160ee;
  background-color: #efefef;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px #0001;
  max-width: 900px;
}
.contenu-carte {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contenu-carte p {
  padding: 0.3rem 0.5rem;
}
#numero-question {
  display: inclined-block;
  align-self: flex-start;
  color: #4160ee;
  background-color: #dfdfdf;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px #0001;
  font-weight: blod;
}
#liste-reponses {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.message-reponse {
  font-weight: bold;
  margin-top: 1rem;
}

.message-reponse.correcte {
  color: #60d080;
}

.message-reponse.incorrecte {
  color: #b01020;
}
.bouton {
  display: inline-block;
  background-color: #4160ee;
  color: #efefef;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px #0003;
  border: none;
  cursor: pointer;
}
#bouton-commencer,
#bouton-suivant,
#bouton-rejouer {
  align-self: flex-end;
}
.bouton-reponse {
  background-color: #dfdfdf;
  color: #4160ee;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px #0003;
  border: none;
  cursor: pointer;
}
.bouton-reponse.correcte {
  background-color: #60d080;
}
.bouton-reponse.incorrecte {
  background-color: #b01020;
}
.bouton-reponse:disabled {
  cursor: not-allowed;
}
/* La classe .cache masque un écran */
.cache {
  display: none;
}
footer {
  padding: 1rem 2rem;
  background-color: #621ab860;
}
.liste-membres {
  list-style: none;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.liste-membres li {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.liste-members span {
  font-weight: bold;
}
footer a {
  text-decoration: none;
  color: #ccaa11;
  background-color: #dfdfdf;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
